.button {
  font-weight: 400;
  border-radius: 8px;
  border-width: 1px;
  padding: 0 12px;
  border-style: solid;
  line-height: 150%;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
}

/* size */

.small {
  font-size: 12px;
  height: 30px;
}

.middle {
  font-size: 14px;
  height: 40px;
}

.large {
  font-size: 16px;
  height: 50px;
}

/* theme */

.primary {
  color: var(--Neutral-White);
  background-color: var(--Primary-400);
  border-color: var(--Primary-400);
}

.normal {
  color: var(--Neutral-400);
  background-color: var(--Neutral-White);
  border-color: var(--Neutral-100);
}
